<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Vegan Recipes</h1>
  </div>

  <p>Check out all these amazing dishes.</p>
  <ul> Types of dishes:
    <li> Dinner</li>
    <li>Soup</li>
    <li>Desserts</li>
  </ul>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  
</body>

</html>